{% extends "_base.html" %}

{% block title %}{{ book.title }}{% endblock title %}
{% load static %}
{% block content %}
    <div class="book_detail">
        <h2><a href="">{{ book.title }}</a></h2>
        {% if book.cover %}
            <img height="350" src="{{ book.cover.url }}" alt="{{ book.title }}">
        {% endif %}
        <p>Author: {{ book.title }}</p>
        <p>Price: {{ book.price }}</p>
        <div>
            <h3>Reviews</h3>
            <ul>
                {% for review in book.reviews.all %}
                <li>
                    <h5>{{ review.author }}:</h5> {{ review.review }} <h5></h5>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}